* {margin: 0;padding: 0; box-sizing: border-box;}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/public_img/背景.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}
h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}
.to_login>p{margin: 0 auto;}
span {
    text-align: center;
    font-size: 20px;
}

a {
    color: #f33;
    font-size: 14px;
    text-decoration: none;
    margin: 0 auto;
}

.my_login {
    background:transparent;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container form {
    background: transparent;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tool-container {
    margin: 0 auto;
}

.tool-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.tool-container a:hover {
    background-color: #eee;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
}
.to_login>input{
    margin: 0 auto;height: 30px;
    border-radius: 5px;
}
button {
    border-radius: 20px;
    border: 1px solid #0817ec;
    background: rgb(89, 49, 233);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
.to_login>button{
    margin: 0 auto;
}
button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.to_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #0099ff;
    background: linear-gradient(to right, #00ccff, #6699ff) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}
.logo{
    position: fixed;
    top: 100px;
    left: 100px;
    margin: 0;
    padding: 0;
}
.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.my_login.right-panel-active .in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.my_login.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.my_login.right-panel-active .up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.my_login.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.my_login.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.my_login.right-panel-active .overlay-right {
    transform: translateY(20%);
}




















































































